In [2]:
from rake_nltk import Rake
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import sigmoid_kernel 
from sklearn.metrics.pairwise import cosine_similarity

program = pd.read_csv("Diversity Tech Programs Spreadsheet - Sheet1.csv")
program.head()

,Company,Program,Demographic,Year in College,Role,Majors,Programming Languages/Software
0,Facebook,Facebook University - Analytics,"Minorities (African Americans, Latinos)",2nd,Data Analytics,"Statistics, Applied Mathematics, Computer Scie...","SQL, R, Python"
1,Facebook,Facebook University - Engineering,"Minorities (African Americans, Latinos)","1st, 2nd",Software Engineering,"Statistics, Applied Mathematics, Computer Scie...","C/C++, JavaScript, Java, PHP, Ruby, Python, Lu..."
2,Facebook,Facebook University - Operations,"Minorities (African Americans, Latinos)",2nd,Business Management,"Economics, Business","SQL, R, Python, Tableau"
3,Facebook,Facebook University - Product Design,"Minorities (African Americans, Latinos)",2nd,Product Design,Any,"Powerpoint, Keynote, Adobe and Creative Suite"
4,Facebook,Facebook University - Sales and Advertising,"Minorities (African Americans, Latinos)",2nd,Sales and Advertising,"Sales, Advertising, Communications",NaN

In [3]:
program.shape

(46, 7)

In [4]:
tfv = TfidfVectorizer(min_df = 3, max_features = None,
                    strip_accents = "unicode", analyzer = "word", token_pattern = r"\w{1,}",
                    ngram_range = (1,3),
                    stop_words = "english")
tfv_matrix1 = tfv.fit_transform(program["Program"])
tfv_matrix1

<46x10 sparse matrix of type '<class 'numpy.float64'>'
	with 42 stored elements in Compressed Sparse Row format>

In [5]:
sig = sigmoid_kernel(tfv_matrix1, tfv_matrix1)
sig[0]

array([0.80049902, 0.80049902, 0.80049902, 0.80049902, 0.80049902,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416])

In [6]:
indices = pd.Series(program.index, index = program["Program"])
indices

Program
Facebook University - Analytics                  0
Facebook University - Engineering                1
Facebook University - Operations                 2
Facebook University - Product Design             3
Facebook University - Sales and Advertising      4
Above and Beyond Computer Science                5
Fellows Program                                  6
Google STEP                                      7
BOLD - Sales, Services and Support               8
BOLD - Marketing and Communications              9
BOLD - People Operations                        10
BOLD - Finance                                  11
Twitter Academy                                 12
Women Who Code                                  13
Processing Foundation                           14
Code Liberation                                 15
Women in Machine Learning                       16
We Can Code IT                                  17
Girls Develop It                                18
Women's Coding Collective                       19
MotherCoders                                    20
Girls in Tech                                   21
Data Science for All/Empowerment                22
Career Contessa                                 23
All Star Code                                   24
Black Founders                                  25
Blacks in Technology                            26
/dev/color                                      27
Career Level Program                            28
Gather                                          29
Women in Big Data                               30
Out in Tech                                     31
Trans Tech Social                               32
Hackbright Academy                              33
Grace Hopper Program                            34
Ada Developers Academy                          35
Kenzie Academy - Software Engineer              36
Kenzie Academy - UX Engineer                    37
Undergrad Possibilities Summit - Engineering    38
Computer Science Summer Institute - HBCU        39
Inside Look                                     40
Applied Machine Learning Intensive              41
Apprenticeship Program                          42
Case Challenge                                  43
Google in Residence                             44
Applied CS (EngEDU)                             45
dtype: int64

In [7]:
sorted(list(enumerate(sig[indices["Google STEP"]])), key = lambda x: x[1], reverse = True)

[(0, 0.7615941559557649),
 (1, 0.7615941559557649),
 (2, 0.7615941559557649),
 (3, 0.7615941559557649),
 (4, 0.7615941559557649),
 (5, 0.7615941559557649),
 (6, 0.7615941559557649),
 (7, 0.7615941559557649),
 (8, 0.7615941559557649),
 (9, 0.7615941559557649),
 (10, 0.7615941559557649),
 (11, 0.7615941559557649),
 (12, 0.7615941559557649),
 (13, 0.7615941559557649),
 (14, 0.7615941559557649),
 (15, 0.7615941559557649),
 (16, 0.7615941559557649),
 (17, 0.7615941559557649),
 (18, 0.7615941559557649),
 (19, 0.7615941559557649),
 (20, 0.7615941559557649),
 (21, 0.7615941559557649),
 (22, 0.7615941559557649),
 (23, 0.7615941559557649),
 (24, 0.7615941559557649),
 (25, 0.7615941559557649),
 (26, 0.7615941559557649),
 (27, 0.7615941559557649),
 (28, 0.7615941559557649),
 (29, 0.7615941559557649),
 (30, 0.7615941559557649),
 (31, 0.7615941559557649),
 (32, 0.7615941559557649),
 (33, 0.7615941559557649),
 (34, 0.7615941559557649),
 (35, 0.7615941559557649),
 (36, 0.7615941559557649),
 (37, 0.7615941559557649),
 (38, 0.7615941559557649),
 (39, 0.7615941559557649),
 (40, 0.7615941559557649),
 (41, 0.7615941559557649),
 (42, 0.7615941559557649),
 (43, 0.7615941559557649),
 (44, 0.7615941559557649),
 (45, 0.7615941559557649)]

In [8]:
def program_recommend(program):
    index = indices[program]
    sig_scores = list(enumerate(sig[index]))
    sig_scores = sorted(sig_scores, key = lambda x: x[1], reverse = True)
    sig_scores = sig_scores[1:11]
    program_indices = [i[0] for i in sig_scores]
    return program["Program"].iloc[program_indices]

In [9]:
program_recommend("Google STEP")

TypeError: string indices must be integers